<a href="https://colab.research.google.com/github/golova-m/Python-beginning-tutorial-projects/blob/standard-interview-tasks/small_interview_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задачи, которые дают на собеседованиях отличаются сильно друг от друга и зависят от компании.

# Блок 1

В этом блоке будет разбор задач с сайта [pythonist](https://pythonist.ru/python-voprosy-sobesedovaniya-chast-i-junior/#qst).

In [14]:
'''
1.1 Как преобразовать строку, содержащую бинарный код (0 или 1),
в число (целого типа)? Напишите программу, которая будет это делать.
'''
binary_str = bin(56)
print(type(binary_str))
binary_int = int(binary_str, 2)
print(type(binary_int))

<class 'str'>
<class 'int'>

Предыдущий код мы можем сократить, убрав принты и проверку на типы, а также в одной строке записать преобразования.

In [17]:
int(bin(56), 2)

56

In [21]:
'''
1.2 Как проверить, что кортеж A содержит в себе все элементы кортежа B?
Напишите программу, которая это будет выполнять.
'''
tuple_a = (1, 2, 3, 4, 5)
tuple_b = (3, 4, 5)

set(tuple_b).issubset(set(tuple_a))

True

In [22]:
'''
1.3 Какой будет результат выполнения следующего кода:
'''

def f():
  x = 15
  print(x)
x = 12
f()

15

In [24]:
'''
1.4 Как преобразовать строку в число, состоящее из ASCII-кодов? Напишите программу для этой операции.
'''
s = 'gfthd'
[ord(c) for c in s]

[103, 102, 116, 104, 100]

In [27]:
'''
1.5 Как удалить пустые строки (длиной 0) из списка строк? Напишите программу для этого.
'''
list_str = ['', '2', '', 'a', 'rt', ' ']
for i in list_str:
  if i == '':
    list_str.remove(i)
print(list_str)

['2', 'a', 'rt', ' ']

In [31]:
list_str = ['', '2', '', 'a', 'rt', ' ']
list_str = list(filter(None, list_str))
print(list_str)

['2', 'a', 'rt', ' ']

In [33]:
list_str = ['', '2', '', 'a', 'rt', ' ']
[x for x in list_str if x]

['2', 'a', 'rt', ' ']

In [38]:
'''
1.6 Создайте строку из чисел от 0 до 100 следующего вида: "0123456789101112..."
'''
str_number = ''
for x in range(101):
  str_number += str(x)
print(str_number)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [44]:
str_number = ''.join([str(i) for i in range(101)])
print(str_number)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [41]:
print(*range(101), sep='')

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [47]:
'''
1.7 Преобразуйте список, где есть повторяющиеся элементы, в список, где все элементы уникальны.
'''
list_numbers = [-60, -60, -2, 0, 2, -2, 6]
list_numbers = list(set(list_numbers))
print(list_numbers)

[0, 2, -60, 6, -2]

In [48]:

list_numbers = [-60, -60, -2, 0, 2, -2, 6]
list_numbers = list(dict.fromkeys(list_numbers))
print(list_numbers)

[-60, -2, 0, 2, 6]

In [51]:
'''
1.8 Создайте список всех простых чисел, лежащих в диапазоне от 0 до 100.
'''

'\n1.8 Создайте список всех простых чисел, лежащих в диапазоне от 0 до 100.\n'

# Ссылки

1. [Репозиторий с подобной тематикой](https://github.com/markdrrr/interview_questions_python_junior/blob/main/README.md)