<a href="https://colab.research.google.com/github/golova-m/Python-beginning-tutorial-projects/blob/standard-interview-tasks/small_interview_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задачи, которые дают на собеседованиях отличаются сильно друг от друга и зависят от компании.

# Блок 1

В этом блоке будет разбор задач с сайта [pythonist](https://pythonist.ru/python-voprosy-sobesedovaniya-chast-i-junior/#qst).

In [ ]:
'''
1.1 Как преобразовать строку, содержащую бинарный код (0 или 1),
в число (целого типа)? Напишите программу, которая будет это делать.
'''
binary_str = bin(56)
print(type(binary_str))
binary_int = int(binary_str, 2)
print(type(binary_int))

<class 'str'>
<class 'int'>

Предыдущий код мы можем сократить, убрав принты и проверку на типы, а также в одной строке записать преобразования.

In [ ]:
int(bin(56), 2)

56

In [ ]:
'''
1.2 Как проверить, что кортеж A содержит в себе все элементы кортежа B?
Напишите программу, которая это будет выполнять.
'''
tuple_a = (1, 2, 3, 4, 5)
tuple_b = (3, 4, 5)

set(tuple_b).issubset(set(tuple_a))

True

In [ ]:
'''
1.3 Какой будет результат выполнения следующего кода:
'''

def f():
  x = 15
  print(x)
x = 12
f()

15

In [ ]:
'''
1.4 Как преобразовать строку в число, состоящее из ASCII-кодов? Напишите программу для этой операции.
'''
s = 'gfthd'
[ord(c) for c in s]

[103, 102, 116, 104, 100]

In [ ]:
'''
1.5 Как удалить пустые строки (длиной 0) из списка строк? Напишите программу для этого.
'''
list_str = ['', '2', '', 'a', 'rt', ' ']
for i in list_str:
  if i == '':
    list_str.remove(i)
print(list_str)

['2', 'a', 'rt', ' ']

In [ ]:
list_str = ['', '2', '', 'a', 'rt', ' ']
list_str = list(filter(None, list_str))
print(list_str)

['2', 'a', 'rt', ' ']

In [ ]:
list_str = ['', '2', '', 'a', 'rt', ' ']
[x for x in list_str if x]

['2', 'a', 'rt', ' ']

In [ ]:
'''
1.6 Создайте строку из чисел от 0 до 100 следующего вида: "0123456789101112..."
'''
str_number = ''
for x in range(101):
  str_number += str(x)
print(str_number)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [ ]:
str_number = ''.join([str(i) for i in range(101)])
print(str_number)

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [ ]:
print(*range(101), sep='')

0123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100

In [ ]:
'''
1.7 Преобразуйте список, где есть повторяющиеся элементы, в список, где все элементы уникальны.
'''
list_numbers = [-60, -60, -2, 0, 2, -2, 6]
list_numbers = list(set(list_numbers))
print(list_numbers)

[0, 2, -60, 6, -2]

In [ ]:

list_numbers = [-60, -60, -2, 0, 2, -2, 6]
list_numbers = list(dict.fromkeys(list_numbers))
print(list_numbers)

[-60, -2, 0, 2, 6]

In [ ]:
'''
1.8 Создайте список всех простых чисел, лежащих в диапазоне от 0 до 100.
'''
for i in range(2, 100):
  simple = True
  for j in range(2, i):
    if i%j == 0:
      simple = False
      break
  if simple :
    print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Блок 2

В данном блоке будут рассмотрены задачи с сайта [5 задач с собеседований Amazon для Python-разработчиков](https://tproger.ru/articles/5-zadach-s-sobesedovanij-ibm-dlya-python-razrabotchikov)

In [31]:
'''
2.1 Изменить порядок слов
Вам дана строка ‘s’ с некоторым количеством слов N.
Нужно сделать так, чтобы исходный порядок слов в строке изменился на обратный.

При этом в исходной строке между словами может быть множество пробелов,
но в результате работы скрипта мы должны получить предложение с одним пробелом между словами,
без пробелов в начале предложения и после его конца.
'''

input_str = input().split(' ')
new_str = ''
for i in range(1, len(input_str) + 1):
  if ' ' not in input_str[-i] and '' != input_str[-i]:
    new_str = f'{new_str}{input_str[-i]} '
    print(f'new_str = {new_str}')
new_str = new_str[:-1]
print(new_str)

    do  and             true    false
new_str = false
new_str = false true
new_str = false true and
new_str = false true and do
false true and do

In [14]:
print(1)

1

In [ ]:
'''
2.2 Сумма всех чисел до N
Вам дано число N. Напишите скрипт, который считал бы сумму
всех четных чисел в промежутке от 1 до N, включая N.
К примеру, если N равняется 6, то вывод должен быть равен 2+4+6, то есть 12.
'''

In [ ]:
'''
2.3 Палиндромы из чисел
У вас есть список из целых чисел.
Вам нужно написать скрипт, который определит, является ли последовательность чисел палиндромом.
Если это палиндром, нужно вернуть true, а если нет — вернуть false.
'''

In [ ]:
'''
2.4 Заменить пробелы
У вас есть строка STR, в которой есть слова с пробелами. Вам нужно заменить пробелы между словами на “@40”.
'''

In [ ]:
'''
2.5 Уровни двоичного дерева
Вам дано двоичное дерево, в котором находятся целые числа. Ваш скрипт должен вывести последовательность чисел,
которая бы показывала, как он проходил по двоичному дереву.

При этом количество попыток не должно превышать 100, количество ветвей дерева не должно быть меньше нуля и
не должно превышать 1000, а числа дерева не должны быть отрицательными.
'''

# Ссылки

1. [Репозиторий с подобной тематикой](https://github.com/markdrrr/interview_questions_python_junior/blob/main/README.md)