<a href="https://colab.research.google.com/github/golova-m/Python-beginning-tutorial-projects/blob/main/tasks_book_think_python_allen_downey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Содержание
Данный документ содержит в себе решение задач из книги Аллена Б. Дауни "Основы Python. Научитесь думать как программист."

# Глава 2. Знакомство с Python

## Упражнение 2.1
Осознанные ошибки. Пробуем "играть" с возможностями Python.

In [ ]:
n = 1

In [ ]:
1 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-2-400f3240b0e1>, line 1)

In [ ]:
1 == n

True

In [ ]:
n = m = 2

In [ ]:
n, m

(2, 2)

In [ ]:
m = 3

In [ ]:
n, m

(2, 3)

In [ ]:
n;

In [ ]:
n = 2;
n

2

In [ ]:
n = \
4
n

4

In [ ]:
print('hi');;

SyntaxError: invalid syntax (<ipython-input-13-1f759274d28c>, line 1)

In [ ]:
print('hi').

SyntaxError: invalid syntax (<ipython-input-14-3854160b3852>, line 1)

In [ ]:
nm

NameError: name 'nm' is not defined

In [ ]:
n*m

12

## Упражнение 2.2
Используем интерпретатор в качестве калькулятора

In [ ]:
import math
(4/3)*math.pi*(5)**3

523.5987755982989

In [ ]:
5**3

125

In [ ]:
5**2

25

In [ ]:
(249.50 * 40) / 100

99.8

In [ ]:
249.50 - 99.8

149.7

In [ ]:
149.7 * 60

8982.0

In [ ]:
100 + (59 * 49.50)

3020.5

In [ ]:
8982.0 + 3020.5

12002.5

In [ ]:
8 + (7 * 3) + 8

37

In [ ]:
15 + (12 + 3) + 15

45

In [ ]:
52 + 37

89

In [ ]:
89 - 60

29

In [ ]:
6 + 1

7

In [ ]:
#7:29:45

# Глава 3. Функции

## Упражнение 3.1
Напишите функцию, которая принимает строку и печатает строку с пробелами в начале, так чтобы последняя буква строки находилась в столбце 70.

In [ ]:
def right_justify(instr):
  print(' ' * (70 - len(instr)) + instr)
  return(' ' * (70 - len(instr)) + instr)

In [ ]:
assert right_justify('a') == '                                                                     a'
assert right_justify('aa') == '                                                                    aa'
assert right_justify('') == '                                                                      '
assert right_justify('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa') == 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

                                                                     a
                                                                    aa

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

## Упражнение 3.2
Работа с функцией и объектом функции

In [ ]:
def do_twice(f):
  f()
  f()


def print_spam():
  print('Spam')

In [ ]:
do_twice(print_spam)

Spam
Spam

In [ ]:
def do_twice2(f, arg):
  f(arg)
  f(arg)


def print_spam2(arg):
  print(arg)

def print_twice(bruce):
  print(bruce)
  print(bruce)

In [ ]:
do_twice2(print_spam2, 'Hi')

Hi
Hi

In [ ]:
do_twice2(print_twice, 'spam')

spam
spam
spam
spam

In [ ]:
def do_four(f, arg):
  do_twice2(f, arg)
  do_twice2(f, arg)

In [ ]:
do_four(print_spam2, 'Hi')

Hi
Hi
Hi
Hi

## Упражнение 3.3
Необходимо нарисовать сетку.

In [ ]:
def do_step(f, step):
  for i in range(step):
    f()


def print_line():
  print('+', ' -' * 4, end = ' ')


def print_column():
  print('|', '  ' * 4, end = ' ')


def print_sq(step):
  for i in range(step):
    do_step(print_line, 2)
    print('+')
    for i in range(4):
      do_step(print_column, 2)
      print('|')


print_sq(2)
do_step(print_line, 2)
print('+')

+  - - - - +  - - - - +
|          |          |
|          |          |
|          |          |
|          |          |
+  - - - - +  - - - - +
|          |          |
|          |          |
|          |          |
|          |          |
+  - - - - +  - - - - +

In [ ]:
def do_step(f, step):
  for i in range(step):
    f()


def print_line():
  print('+', ' -' * 4, end = ' ')


def print_column():
  print('|', '  ' * 4, end = ' ')


def print_sq(step):
  for i in range(step):
    do_step(print_line, 4)
    print('+')
    for i in range(4):
      do_step(print_column, 4)
      print('|')


print_sq(4)
do_step(print_line, 4)
print('+')

+  - - - - +  - - - - +  - - - - +  - - - - +
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
+  - - - - +  - - - - +  - - - - +  - - - - +
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
+  - - - - +  - - - - +  - - - - +  - - - - +
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
+  - - - - +  - - - - +  - - - - +  - - - - +
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
|          |          |          |          |
+  - - - - +  - - - - +  - - - - +  - - - - +

# Глава 4. Turtle

In [ ]:
import math

import turtle


def square(t, lenght):
    for i in range(4):
        t.fd(lenght)
        t.lt(90)

def polygon(t, lenght, n):
    angle = 360.0 / n
    polyline(t, n, lenght, angle)


def circle(t, r):
    arc(t, r, 360)


def arc(t, r, angle):
    arc_length = 2 * math.pi * r * angle / 360
    n = int(arc_length / 3) + 1
    step_lenght = arc_length / n
    step_angle = float(angle) / n
    polyline(t, n, step_lenght, step_angle)


def polyline(t, n, lenght, angle):
    for i in range(n):
        t.fd(lenght)
        t.lt(angle)


def main():
    bob = turtle.Turtle()
    for i in range(4):
        square(bob, 100)
        #polygon(bob, 100, 5)
        circle(bob, 50)
        arc(bob, 100, 90)

    turtle.mainloop()

![image.png]()